*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.kodeMono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
p{
  margin: 20px 0px;
}
body{
  width: 100%;
  background: #333;
  font-size: 1.6em;
}
#logo{
  width: 120px;
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 10;
}
  #logo > img {
  width: 120px;
}
#social{
  width: 120px;
  position: absolute;
  bottom: 50px;
  right: 15px;
  cursor: pointer;
}
  #social >a > img{
  width: 60px;
  padding-top: 10px;
}
#hamburger{
  position: fixed;
  z-index: 12;
  width: 80px;
  height: 80px;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
  .bar{
  width: 80px;
  height: 16px;
  background: #fff;
  margin: 4px 0px;
  border-radius: 4px;
}
nav{
  width: 250px;
  height:100dvh;
  top: 0;
  right: -270px;
  position: fixed;
  z-index: 3;
  background: rgba(0, 0, 0, 0.83);
  text-align: right;
  padding-right: 15px;
  padding-top: 180px;
  border-left: 0.5px solid #fff;
}
  nav > a {
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;

  }
  nav > a:hover {
    color: #f00;
    text-decoration: underline;
  }
  #grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(150px, auto);
    grid-template-areas: 
    "hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr"
    "abt abt abt abt abt abt abt abt abt abt abt abt"
    "pro pro pro pro pro pro pro pro pro pro pro pro "
    "acc acc acc acc acc acc acc acc acc acc acc acc"
    "mdl mdl mdl mdl mdl mdl mdl mdl mdl mdl mdl mdl"
    "con con con con con con con con con con con con"
    "ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr";
  }
  header{
    display: grid;
    grid-area: hdr;
    height: 650px;
    background: url(../assets/images/bkg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1.6em;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-bottom: 0.3px solid #fff;
    padding: 25px 25px;
  }
  #about{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-area: abt;
    background: #000;
    width: 100%;
    align-items: center;
  }
  #about > img {
    width: 100%;
  }
  #about h1{
    font-size: 1.6em;
    color: rgb(17, 71, 138);
    text-align: center;
    align-items: center;
    font-weight: 700;
    padding-top: 30px;
  }
  #about p{
    font-size: 1em;
    color: #95bde0;
    padding-left: 110px;
    line-height: 50px;
  }

  #pro{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-area: pro;
    background: #000000;
    width: 100%;
    align-items: center;
  }
  #pro > img {
    width: 100%;
  }
  #pro h1{
    font-size: 1.6em;
    color: rgb(216, 154, 22);
    text-align: center;
    align-items: center;
    font-weight: 700;
    padding-top: 30px;
  }
  #pro p{
    font-size: 1em;
    color: #ddcbb595;
    padding-left: 110px;
    line-height: 50px;
  }
  #accessories {
  display: grid;
  grid-area: acc;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  background: #000;
  padding: 40px;
  text-align: center;
}
#accessories .item {
  background: #111;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 15px;
}
#accessories .item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
#accessories .item h3 {
  color: #4db8ff;
  font-size: 1em;
  margin: 5px 0;
}
#accessories .item p {
  color: #ccc;
  font-size: 1em;
  margin-bottom: 10px;
}
#accessories .item button {
  background: #39393c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 1em;
}

#accessories .item button:hover {
  background: #00b7ff;
  box-shadow: 0 0 8px #00b7ff;
}
